<form action="/login" method="post" id="login-form">
  <input type="text" name="username" id="username" placeholder="login" />
  <input type="password" name="password" id="password" placeholder="password" />
  <input type="submit" value="Log In" id="login-btn" />
</form>
<div class="error">
  {{context}}
</div>